html, body, .rkt-overcast {
	min-height: 100%;
}

.rkt-overcast:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: #000000;
	opacity: 0.3;
}
.rkt-overcast {
	-webkit-filter: blur(3px);
	        filter: blur(3px);
}

.rkt-launcher {
	cursor: pointer;
}
.rkt-launcher.rkt-zoom-in {
	cursor: -webkit-zoom-in;
	cursor:    -moz-zoom-in;
	cursor:         zoom-in;
}

#rkt-shuttle {
	max-width: 86%;
	max-height: 86%;
	position: fixed;
	top: -1000px;
	left: 50%;
	opacity: 0;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px;
	z-index: 304000;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}

#rkt-shuttle:not(.rkt-no-x) .rkt-x {
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 15px;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 21px;
	position: absolute;
	top: -15px;
	right: -15px;
	cursor: pointer;
}

#rkt-shuttle .rkt-x {
	display: none;
}

#rkt-shuttle iframe {
	border: none;
}

#rkt-shuttle.rkt-orbiting {
	top: 50%;
	opacity: 1;
}